pkgbase = xtop
	pkgdesc = Real-time Linux server diagnostics with automatic root cause analysis and eBPF probes
	pkgver = 0.37.1
	pkgrel = 1
	url = https://github.com/ftahirops/xtop
	arch = x86_64
	license = MIT
	makedepends = go>=1.21
	depends = glibc
	optdepends = nvidia-utils: GPU monitoring via nvidia-smi
	optdepends = docker: container name resolution
	source = xtop-0.37.1.tar.gz::https://github.com/ftahirops/xtop/archive/refs/tags/v0.37.1.tar.gz
	sha256sums = SKIP

pkgname = xtop
